.kaufman {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  position: relative;
  box-sizing: border-box;
}
