.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.flex-row_theme_dark {
  margin-top: 80px;
}

/* и элемента с модификатором вида ключ-значение */
